/* modifying  bootstrap classes */

  .fs-1, .fs-3{ 
      font-weight: 600;
      font-family: 'Source Code Pro', monospace; 
  }
  
  .fs-1 {
    font-size: clamp( 1.75rem, 1.6634615384615385rem + 0.46153846153846156vw, 2.125rem );

  }
  
  .fs-3 {
    font-size: clamp( 1.375rem, 1.2884615384615385rem + 0.46153846153846156vw, 1.75rem );
  }
  
  .fs-4 {
    font-weight: 600;
    font-size: clamp( 1.1875rem, 1.1009615384615385rem + 0.46153846153846156vw, 1.5625rem ); 
  }
  
  .fs-5{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: clamp( 1rem, 0.9134615384615384rem + 0.46153846153846156vw, 1.375rem )
  }

/* utility class */

.section-margin-top {
  margin-top:6rem;
}

/* header*/
.carousel-item{
    height: clamp( 31.25rem, 32.69230769230769rem + -7.6923076923076925vw, 25rem )
}

.carousel-caption {
    bottom: clamp( 2rem, 0.6153846153846152rem + 7.384615384615385vw, 8rem );
}

.carousel-item img {
    min-height: clamp( 31.25rem, 32.69230769230769rem + -7.6923076923076925vw, 25rem );
}



/* course card section  */
.course_cards {
    display:grid;
    gap:1.5rem;
    grid-template-columns: 1fr;
  }

  .course_card{
    width: 15rem;
  }

  @media (min-width:576px) {
    .course_card{
         width: 35rem;
         height:12rem;
      }
      .course_card img {
        width:33%;
      }
  }

  @media (min-width:992px) {
    .course_cards{
        grid-template-columns: 1fr 1fr;
      }

  }


  /* section-register */
  .section-register {
    padding: 2rem;
  }
  
  @media (min-width:992px) {
    .section-register{
        width:full;
        padding: 2rem 7rem;
        display:grid;
        gap:23rem;
        grid-template-columns: 3fr 2fr;
        align-items: center;
      }
  }


  





  


